@import url('https://fonts.googleapis.com/css?family=Eczar:400,500,600,700,800&subset=devanagari,latin-ext');
*{
	box-sizing: border-box;
}

body{
	font-family: 'Eczar','Arial',serif;
	font-size: 16px;
	color: #333;
	margin: 0;
}
header{
	background-image: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
	height: :80px;
}

.clear{
	clear: both;
}
.nav-logo{
	color:#e00986;
	font-size: 24px;
	margin: 0px;
	padding-left: 10px;
	line-height: 80px;
	float: left;
}
nav ul{
	float: right;
	list-style-type: none;
	margin: 0;
	text-align: center;

}	
nav ul li{
	display: inline-block;
	position: relative;
	width: 150px;
}

nav ul li a{
	text-decoration: none;
	color:e00986;
	line-height: 80px;
	padding: 0 10 0 10px;
	display: block;
}
nav ul li a:hover{
	color: #fff;
	transition-duration: 2s;
}
nav ul ul{
	background-color: radial-gradient(circle, #72d6c9, #54d1ed, #7ac5ff, #bcb2fe, #f29cd9);
	text-align:left;
	border: 1px solid #e00986
}
nav ul ul li{
	display: block;
}
nav ul ul li a{
	padding: 0 15px;
}
nav ul ul{
	display: none;
}

nav ul li:hover > ul{
	display: block;
	position: absolute;
	z-index: 1;
}

